/* Start Global rules */
:root {
    /* Desktop font sizes */
    --h1:60px;
    --h2:40px;
    --h3:30px;
    --h4:20px;
    --p:18px;
    /* Mobile font sizes */
    --h1-m:43px;
    --h2-m:36px;
    --h3-m:26px;
    --h4-m:18px;
    --p-m:16px;
    /* Colors */
    --green:#B9FF66;
    --dark:#191A23;
    --grey:#F3F3F3;
}
* {
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
}
/* Media Queries */
@media (min-width: 768px) { 
    .container {
        width: 750px;
    }
    .icon {
        display: none;
    }
}
@media (min-width: 992px) { 
    .container {
        width: 970px;
    }
}
@media (min-width: 1400px) { 
    .container {
        width: 1270px;
        padding: 0 100px;
    }
}
/* End Global rules */
/* Start Components */
.sub-heading {
    display: flex;
    align-items: center;
}
.sub-heading h2 {
    background-color: var(--green);
    font-weight: 500;
    padding: 10px 5px;
    border-radius: 5px;
}
@media (min-width:577px) {
    .sub-heading h2 {
        margin-right: 40px;
    }
    .sub-heading p {
        max-width: 550px;
    }
    
}
@media (max-width:576px) {
    .sub-heading {
        flex-direction: column;
    }
    .sub-heading p {
        text-align: center;
    }
}
.link {
    text-decoration: none;
    cursor: pointer;
    transition: .3s;
}
/* End Components */
/* Start Landign  */
    .landing .container nav {
        display: flex;
    }
    .landing .container nav ul {
        display: flex;
        align-items: center;
        list-style-type: none;
    }
    .landing .container nav .logo {
        display: flex;
        align-items: center;
    }
    .landing .container nav .logo span {
        color: var(--dark);
    }
    .landing .container nav .logo i {
        color: var(--dark);
    }
    .landing .container nav .links a {
        text-decoration: none;
        color: var(--dark);
        cursor: pointer;
        transition: .3s;
    }
    .landing .container nav .links a:hover {
        color: var(--green);
    }
    /* small devices */
    @media (max-width:767px) {
        .container {
            width: 90vw;
            margin: 30px auto;
        }
        .landing .container nav {
            justify-content: space-between;
            align-items: center;
        }
        .landing .container nav ul {
            display: none;
        }
        .landing .container nav .logo span {
            font-size: 22px;
            margin-left: 5px;
        }
        .landing .container nav .logo i {
            font-size: 22px;
        }
        .landing .container nav .links {
            position: relative;
            height: 23px;
        }
        .landing .container nav .links a {
            font-size: var(--p-m);
        }
        .landing .container nav .links .icon {
            position: absolute;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-end;
            right: 0;
            width: 30px;
            height: 100%;
            padding-top: 5px;
        }
        .landing .container nav .links .icon span {
            display: block;
            background-color: var(--dark);
            height: 2px;
            border-radius: 5px;
        }
        .landing .container nav .links .icon span:first-child {
            width: 100%;
        }
        .landing .container nav .links .icon span:nth-child(2) {
            width: 60%;
            transition: .3s;
        }
        .landing .container nav .links:hover .icon span:nth-child(2) {
            width: 100%;
        }
        .landing .container nav .links .icon span:last-child {
            width: 100%;
        }
        .landing .container nav .links .icon span:not(:last-child) {
            margin-bottom: 4px;
        }
        .landing .container nav .links:hover ul {
            display: block;
            background-color: #ddd;
            border-radius: 10px;
            margin:22px;
            padding: 0;
        }
        .landing .container nav .links:hover ul li  {
            padding: 7px;
        }
        .landing .container nav .links:hover ul li:not(:last-child) {
            border-bottom: 1px solid var(--dark);
            transition: .3s;
        }
        .landing .container nav .links:hover ul li:hover:not(:last-child) {
            padding-left: 20px;
        }
        .landing .container nav .links:hover ul li button {
            border:1px solid;
            background-color: var(--grey);
            border-color: transparent var(--dark) transparent var(--dark);
            border-radius: 10px;
            padding: 5px;
        }
    }
    /* large devices */
    @media (min-width:768px) {
        .container {
            width: 90vw;
            margin: 30px auto;
        }
        .landing .container nav {
            justify-content: space-between;
            align-items: center;
        }
        .landing .container nav .logo span {
            font-size: 25px;
            margin-left: 10px;
        }
        .landing .container nav .logo i {
            font-size: 25px;
        }
        .landing .container nav .links ul li a {
            font-size: var(--p);
        }
        .landing .container nav .links ul li:not(:last-child) {
            margin-left: 20px;
        }
        .landing .container nav .links ul li:last-child {
            margin-left: 60px;
        }
        .landing .container nav .links ul li button {
            background-color: transparent;
            border-color: transparent var(--dark) transparent var(--dark);
            border-radius: 14px;
            padding: 15px;
            cursor: pointer;
        }
    }
/* End Landign */
/* Start Header */
header  {
    margin: 70px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: url(../imgs/Illustration.svg);
    background-repeat: no-repeat;
    background-position: right center;
}
header .infos button {
    background-color: var(--dark);
    color: var(--grey);
    border-radius: 14px;
    cursor: pointer;
    border-color: transparent;
    transition: .3s;
}
header .infos button:hover {
    color: var(--green);
}
@media (max-width:576px) {
    header {
        margin: 20px auto;
        background-size: 50vh;
        background-position: center center;
        gap: 50vh;
    }
    header h1 {
    }
    header img {
        max-width: 100%;
    }
    header .infos {
        margin: 10px 0;
    }
    header .infos p {
        color: var(--dark);
        font-size: var(--p-m);
        line-height: 1.8;
    }
    header .infos button {
        width: 100%;
        height: 60px;
    }
}
@media (min-width:577px) {
    header {
        margin: 40px auto;
        background-size: 450px;
    }
    header h1 {
        width: 50vw;
        color: var(--dark);
        font-size: var(--h1);
        height: fit-content;
        margin: 10px;

    }
    header .infos {
        width:50vw;
    }
    header .infos p {
        color: var(--dark);
        font-size: var(--p);
        line-height: 1.8;
    }
    header .infos button {
        width: 264px;
        height: 60px;

    }
}
/* End Header */
/* Start logotypes */
.logotypes {
    margin: 70px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.logotypes img {
    margin: 15px;
}
/* End logotypes */
/* Start Services */


.services {
    display: grid;
    margin-top: 40px;
}
@media (min-width:577px) {
    .services {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        gap: 20px;
    }
}
@media (max-width:576px) {
    .services {
        grid-template-columns: 1fr;
        gap: 30px;
    }
}
.card {
    /* width: 600px; */
    height: 310px;

    background-color: #F3F3F3;
    background-image: url(../imgs/Illustration-c-one.svg);
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #191A23;
    border-radius: 45px;
    box-shadow: 0px 5px #191A23 ;
}
@media (min-width:577px) {
    .card {
        padding: 50px;
        background-position: 85% 50%;
    }
}
@media (max-width:576px) {
    .card {
        padding: 25px;
        background-position: 85% 70%;
    }
}
.card-one {
    background-image: url(../imgs/Illustration-c-one.svg);
}
.card-two {
    background-image: url(../imgs/Illustration-c-two.svg);
}
.card-three {
    background-image: url(../imgs/Illustration-c-three.svg);
}
.card-four {
    background-image: url(../imgs/Illustration-c-four.svg);
}
.card-five {
    background-image: url(../imgs/Illustration-c-five.svg);
}
.card-six {
    background-image: url(../imgs/Illustration-c-six.svg);
}
.card h3 {
    width: fit-content;
    line-height: 1.2;
    font-weight: 600;
}
.card h3 span {
    background-color: var(--green);
    padding: 0 7px;
    border-radius: 7px;
}
.learn-more {
    display: flex;
    align-items: center;
}
.learn-more a {
    text-decoration: none;
    margin-left: 15px;
}
@media (max-width:576px) {
    .services .card .learn-more a {
        display: none;
    }
}
.card-one,
.card-four {
    background-color: #F3F3F3;
}
.card-two,
.card-five {
    background-color: var(--green);
}
.card-three,
.card-six {
    background-color: #191A23;
}
.card-one h3 span,
.card-four h3 span,
.card-six h3 span {
    background-color: var(--green);
}
.card-two h3 span,
.card-three h3 span,
.card-five h3 span {
    background-color: #FFFFFF;
}

.card-one .learn-more a,
.card-two .learn-more a,
.card-four .learn-more a,
.card-five .learn-more a {
    color: black;
}
.card-three .learn-more a,
.card-six .learn-more a {
    color: white;
}
/* End Services */
/* start cta block */
.cta-block {
    background-color:  #F3F3F3;
    margin: 70px auto;
    padding: 60px;
    border-radius: 45px;
    display: flex;
    flex-direction: column;
}
@media (max-width:576px) {
    .cta-block {
        padding: 30px;
    }
}
.cta-block .content {
    display: flex;
    flex-direction: column;
}
@media (min-width:577px) {
    .cta-block {
        background-image: url(../imgs/Frame-19.svg);
        background-repeat: no-repeat;
        background-position: 90% 50%;
        overflow: visible;
    }
    .cta-block .content {
        max-width: 40%;
        gap: 26px;
    }
}
@media (max-width:576px) {
    .cta-block .content {
        align-items: center;
    }
}
.cta-block .content h3 {
    font-size: 35px;
    font-weight: 600;
}
.cta-block .content p {
    line-height: 1.8;
}
@media (max-width:576px) {
    .cta-block .content h3 {
        text-align: center;
    }
    .cta-block .content p {
        text-align: center;
    }
    
}
.cta-block .content button {
    background-color: var(--dark);
    color: var(--grey);
    border-radius: 14px;
    cursor: pointer;
    border-color: transparent;
    transition: .3s;
    padding: 20px 35px;
    font-size: 20px;
    width: fit-content;
}
.cta-block .content button:hover {
    color: var(--green);
}
@media (max-width:576px) {
    .cta-block .content button {
        padding: 20px 10px;
    }
    
}
/* End cta block */
/* Start case studies block */
.case-studies-block {
    background-color: #191A23;
    margin: 70px auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 40px;
    border-radius: 45px;
}
@media (max-width:576px) {
    .case-studies-block {
        padding: 30px 20px;
        flex-direction: column;
    }
    .case-column {
        width: 100%;
    }
}
@media (min-width:577px) {
    .case-studies-block {
        padding: 70px 60px;
    }
    .case-column {
        width: 35%;
    }
}

.case-studies-block p {
    color: white;
    line-height: 1.8;
}
.case-studies-block .learn-more {
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.case-studies-block .learn-more a {
    margin-right: 15px;
    margin-left: 0;
    color: white;
}
.case-studies-block .learn-more a:hover {
    color: var(--green);
}
/* End case studies block */